<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header class="header">
    <div>Welcome To JUANDOTCOM</div>
</header>
<nav>
<button  id="signUpBtn" >signup</button>
<button id="logInBtn">login</button>
</nav>
<body class="body">
    {{{ body }}}
    
</body>
<script src="/js/main.js"></script>
</html>
