{{#each allPost}}
<div id="postCard">

<div>
    username: {{this.dataValues.user.dataValues.username}}
</div>
<div>
    thoughts: {{this.dataValues.body}}
</div>
</div>
{{/each}}
<script src="/js/main.js"></script>
<script src="/js/dashboard.js"></script>