<div>
    <form>
        <input id="username" placeholder="enter username">
        <input id="password" placeholder="enter password">
        <button id="loginBtn">Log In</button>
    </form>
</div>
<script src="/js/login.js"></script>