
<body >
    <form>
        <input class="username" id="username" placeholder="enter username">
        <input class="email" id="email" placeholder="enter valid email">
        <input class="password" id="password" placeholder="enter password">
            <button id="signUpReq">submit</button>
    </form>
    <div>
      {{#if signuperror}}
    {{>signUpError}}
    {{/if}}
    </div>
</body>
<script src="/js/signup.js"></script>
<script src="/js/main.js"></script>
<script src="js/logout.js"></script>
