<nav>
    <button id="homeBtn">
        Home
    </button>
</nav>
<body >
    <form>
        <input class="username" id="username" placeholder="enter username">
        <input class="email" id="email" placeholder="enter valid email">
        <input class="password" id="password" placeholder="enter password">
            <button id="signUpBtn">sign up</button>
    </form>
    {{>error-description}}
</body>
<script src="/js/signup.js"></script>