<body id="allPostBody">
    <div>
        Some of your recent posts
    </div>
    <div>
      
    </div>
    {{#each postData}}
    <div id="postCard">
        {{this.dataValues.body}}
    </div>
    {{/each}}
</body>